{% import '@phpbb_ads/phpbb_ads_macro.html' as ad %}
<script>
	(() => {
		'use strict';

		const key = 'phpbb_ads_pop_up';
		const intervalDays = 1;
		const lastShown = localStorage.getItem(key);

		if (!lastShown || Date.now() - +lastShown >= intervalDays * 86400000) {
			localStorage.setItem(key, Date.now());
			window.addEventListener('load', () => {
				phpbb.alert(
					'{{ lang('ADVERTISEMENT')|upper|e('js') }}',
					'{{ ad.renderAd(AD_POP_UP)|e('js') }}'
				);
			});
		}
	})();
</script>
