{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_ADD_AD or S_EDIT_AD %}

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	<h1>{% if S_ADD_AD %}{{ lang('ACP_ADS_ADD') }}{% else %}{{ lang('ACP_ADS_EDIT') }}{% endif %}</h1>

	{% if PREVIEW %}
		<fieldset>
			<legend>{{ lang('PREVIEW') }}</legend>
			{% set PHPBB_ADS_CODE = PREVIEW %}
			{% include '@phpbb_ads/phpbb_ads_default.html' %}
		</fieldset>
	{% endif %}

	{% if S_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	<form id="acp_admanagement_add" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('CONFIGURE_AD') }}</legend>
			<dl>
				<dt><label for="ad_name">{{ lang('AD_NAME') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_NAME_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="ad_name" name="ad_name" value="{{ AD_NAME }}" maxlength="255" /></dd>
			</dl>
			<dl>
				<dt><label for="ad_enabled">{{ lang('AD_ENABLED') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_ENABLED_EXPLAIN') }}</span></dt>
				<dd><label><input type="radio" class="radio" id="ad_enabled" name="ad_enabled" value="1"{% if AD_ENABLED %} checked="checked"{% endif %} /> {{ lang('ENABLED') }}</label>
					<label><input type="radio" class="radio" name="ad_enabled" value="0"{% if not AD_ENABLED %} checked="checked"{% endif %} /> {{ lang('DISABLED') }}</label></dd>
			</dl>
			<dl>
				<dt><label for="ad_note">{{ lang('AD_NOTE') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_NOTE_EXPLAIN') }}</span></dt>
				<dd><textarea id="ad_note" name="ad_note" rows="10" cols="60" style="width: 95%;">{{ AD_NOTE }}</textarea></dd>
			</dl>
			<dl>
				<dt><label for="ad_code">{{ lang('AD_CODE') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_CODE_EXPLAIN') }}</span></dt>
				<dd><textarea id="ad_code" name="ad_code" rows="25" cols="60" style="width: 95%;">{{ AD_CODE }}</textarea></dd>
			</dl>
			<dl>
				<dt><label for="ad_priority">{{ lang('AD_PRIORITY') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_PRIORITY_EXPLAIN') }}</span></dt>
				<dd><input type="number" id="ad_priority" name="ad_priority" value="{% if AD_PRIORITY %}{{ AD_PRIORITY }}{% else %}{{ constant('\\phpbb\\ads\\controller\\admin_controller::DEFAULT_PRIORITY') }}{% endif %}" min="1" max="10" /></dd>
			</dl>
			<dl>
				<dt><label for="ad_locations">{{ lang('AD_LOCATIONS') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_LOCATIONS_EXPLAIN') }}</span></dt>
				<dd><select id="ad_locations" name="ad_locations[]" multiple="multiple" size="8">
					{% for location in loops.ad_locations %}
						<option value="{{ location.LOCATION_ID }}"{% if location.S_SELECTED %} selected="selected"{% endif %} title="{{ location.LOCATION_DESC }}">{{ location.LOCATION_NAME }}</option>
					{% endfor %}
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="ad_end_date">{{ lang('AD_END_DATE') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_END_DATE_EXPLAIN') }}</span></dt>
				<dd><input class="text" type="text" id="ad_end_date" name="ad_end_date" value="{{ AD_END_DATE }}" size="20" maxlength="20" /></dd>
			</dl>
			<dl>
				<dt><label for="ad_views_limit">{{ lang('AD_VIEWS_LIMIT') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_VIEWS_LIMIT_EXPLAIN') }}</span></dt>
				<dd><input class="text" type="number" id="ad_views_limit" name="ad_views_limit" value="{{ AD_VIEWS_LIMIT }}" size="20" min="0" /></dd>
			</dl>
			<dl>
				<dt><label for="ad_clicks_limit">{{ lang('AD_CLICKS_LIMIT') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_CLICKS_LIMIT_EXPLAIN') }}</span></dt>
				<dd><input class="text" type="number" id="ad_clicks_limit" name="ad_clicks_limit" value="{{ AD_CLICKS_LIMIT }}" size="20" min="0" /></dd>
			</dl>
			<dl>
				<dt><label for="ad_owner">{{ lang('AD_OWNER') ~ lang('COLON') }}</label><br /><span>{{ lang('AD_OWNER_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="ad_owner" name="ad_owner" value="{{ AD_OWNER }}" /></dd>
				<dd>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</dd>
			</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" id="preview" name="preview" value="{{ lang('PREVIEW') }}" />&nbsp;
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{% if S_EDIT_AD %}
				<input type="hidden" name="id" value="{{ EDIT_ID }}" />
				<input type="hidden" name="action" value="edit" />
			{% else %}
				<input type="hidden" name="action" value="add" />
			{% endif %}
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% else %}

	<h1>{{ lang('ACP_MANAGE_ADS_TITLE') }}</h1>

	<table class="table1 zebra-table fixed-width-table">
		<thead>
			<tr>
				<th>{{ lang('AD_NAME') }}</th>
				<th style="width: 15%;">{{ lang('AD_END_DATE') }}</th>
				{% if S_VIEWS_ENABLED %}<th style="width: 10%;">{{ lang('AD_VIEWS') }}</th>{% endif %}
				{% if S_CLICKS_ENABLED %}<th style="width: 10%;">{{ lang('AD_CLICKS') }}</th>{% endif %}
				<th style="width: 10%;">{{ lang('ENABLED') }}</th>
				<th style="width: 10%;">{{ lang('ACTION') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for ad in loops.ads %}
				<tr>
					<td><strong>{{ ad.NAME }}</strong></td>
					<td>
						{% if ad.S_END_DATE_EXPIRED %}<strong title="{{ lang('AD_EXPIRED_EXPLAIN') }}" class="error">{% endif %}
							{{ ad.END_DATE }}
						{% if ad.S_END_DATE_EXPIRED %}</strong>{% endif %}
					</td>
					{% if S_VIEWS_ENABLED %}
						<td>
							{% if ad.VIEWS_LIMIT and ad.VIEWS >= ad.VIEWS_LIMIT %}<strong class="error">{% endif %}
								{{ ad.VIEWS }}{% if ad.VIEWS_LIMIT %} / {{ ad.VIEWS_LIMIT }}{% endif %}
							{% if ad.VIEWS_LIMIT and ad.VIEWS >= ad.VIEWS_LIMIT %}</strong>{% endif %}
						</td>
					{% endif %}
					{% if S_CLICKS_ENABLED %}
						<td>
							{% if ad.CLICKS_LIMIT and ad.CLICKS >= ad.CLICKS_LIMIT %}<strong class="error">{% endif %}
								{{ ad.CLICKS }}{% if ad.CLICKS_LIMIT %} / {{ ad.CLICKS_LIMIT }}{% endif %}
							{% if ad.CLICKS_LIMIT and ad.CLICKS >= ad.CLICKS_LIMIT %}</strong>{% endif %}
						</td>
					{% endif %}
					<td>
						{% if not ad.S_END_DATE_EXPIRED %}<a href="{{ ad.U_ENABLE }}" title="{{ lang('AD_ENABLE_TITLE', ad.S_ENABLED) }}" data-ajax="toggle_enable">{% endif %}
							{% if ad.S_ENABLED %}{{ lang('ENABLED') }}{% else %}{{ lang('DISABLED') }}{% endif %}
						{% if not ad.S_END_DATE_EXPIRED %}</a>{% endif %}
					</td>
					<td><a href="{{ ad.U_EDIT }}">{{ ICON_EDIT }}</a> <a href="{{ ad.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4" style="text-align: center;">{{ lang('ACP_ADS_EMPTY') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form id="acp_phpbb_ads_quick_add" method="post" action="{{ U_ACTION_ADD }}">
		<fieldset class="quick">
			<input class="button2" type="submit" value="{{ lang('ACP_ADS_ADD') }}" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% endif %}

{% include 'overall_footer.html' %}
