{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('SETTINGS') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="acp_addmanagement_settings" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ADBLOCKER_LEGEND') }}</legend>
		<dl>
			<dt><label for="detected_message">{{ lang('ADBLOCKER_MESSAGE') ~ lang('COLON') }}</label><br /><span>{{ lang('ADBLOCKER_MESSAGE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="detected_message" name="adblocker_message" value="1"{% if ADBLOCKER_MESSAGE %} checked{% endif %} /> {{ lang('ENABLED') }}</label>
				<label><input type="radio" class="radio" name="adblocker_message" value="0"{% if not ADBLOCKER_MESSAGE %} checked{% endif %} /> {{ lang('DISABLED') }}</label></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('CLICKS_VIEWS_LEGEND') }}</legend>
		<dl>
			<dt><label for="enable_views">{{ lang('ENABLE_VIEWS') ~ lang('COLON') }}</label><br /><span>{{ lang('ENABLE_VIEWS_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="enable_views" name="enable_views" value="1"{% if ENABLE_VIEWS %} checked{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="enable_views" value="0"{% if not ENABLE_VIEWS %} checked{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="enable_clicks">{{ lang('ENABLE_CLICKS') ~ lang('COLON') }}</label><br /><span>{{ lang('ENABLE_CLICKS_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" id="enable_clicks" name="enable_clicks" value="1"{% if ENABLE_CLICKS %} checked{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="enable_clicks" value="0"{% if not ENABLE_CLICKS %} checked{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('GENERAL_SETTINGS') }}</legend>
		<dl>
			<dt><label for="hide_groups">{{ lang('HIDE_GROUPS') ~ lang('COLON') }}</label><br /><span>{{ lang('HIDE_GROUPS_EXPLAIN') }}</span></dt>
			<dd><select id="hide_groups" name="hide_groups[]" multiple size="8">
				{% for group in loops.groups %}
					<option value="{{ group.ID }}"{% if group.S_SELECTED %} selected{% endif %}>{{ group.NAME }}</option>
				{% endfor %}
				</select>
			</dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
