.phpbb-ads-center {
	display: flex;
	justify-content: center;
}

#phpbbad-slide-up {
	position: fixed;
	width: 100%;
	bottom: 0;
	transform: translateY(100%);
	transition: transform 0.3s;
}

.phpbbad-slide-up-hide {
	text-align: center;
}

.phpbbad-slide-up-icon {
	cursor: pointer;
	width: 30px;
	background-color: white;
}
