.phpbb-ads-center {
	display: flex;
	justify-content: center;
}

.phpbbad-slide-up {
	position: fixed;
	bottom: 0;
	width: 100%;
	transition: transform 0.3s;
	transform: translateY(100%);
}

.phpbbad-slide-up-center {
	text-align: center;
}

.phpbbad-slide-up-close {
	background-color: #ffffff;
	width: 30px;
	cursor: pointer;
}

.phpbb-ads-button {
	font-size: 13px;
	vertical-align: middle;
	background: #e3e3e3;
	background: linear-gradient(to bottom, #e3e3e3 0%, #f7f7f7 100%);
	border: solid 1px #afafaf;
	box-shadow: inset 1px 1px 2px #ffffff;
	margin: 2px 0;
	padding: 3px 8px;
}

.phpbb-ads-button:hover {
	border-color: #bc2a4d;
	color: #bc2a4d;
	cursor: pointer;
}

.phpbb-ads-button:active {
	background: #c3c3c3;
}
